<table class="table table-bordered table-striped mt-3">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

  @if (data | async; as detail) {

    @for (student of detail; track student.id) {
      <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.gender }}</td>
        <td>
          <button class="btn btn-warning btn-sm"
                  (click)="edit.emit(student)"
                  data-bs-toggle="modal"
                  data-bs-target="#studentModal">
            Edit
          </button>

          <button class="btn btn-danger btn-sm ms-2"
                  (click)="remove.emit(student.id)">
            Delete
          </button>
        </td>
      </tr>
    }}
  </tbody>
</table>
